.options {
  width: 100%;
  box-sizing: border-box;
}
.options__wrapper {
  margin-top: 50px;
}
.row {
  font-size: 14px;
}
.settings__header {
  font-size: 22px;
  line-height: 22px;
  margin: 0;
}

.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.error {
  color: red;
  font-size: 15px;
  /* margin-left: 15px; */
}

.hide {
  display: none;
}
