/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-minus {
  /* background-image: url("sprite.png"); */
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-plus {
  /* background-image: url("sprite.png"); */
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
}

.green-border::before {
  position: absolute;
  top: -2px;
  left: -2px;
  content: "";
  border: 2px solid green;
  height: 101%;
  width: 101%;
}

.red-border::before {
  position: absolute;
  top: -2px;
  left: -2px;
  content: "";
  border: 2px dashed red;
  height: 101%;
  width: 101%;
}
