.alert {
  position: fixed;
  display: flex;
  padding: 10px;
  font-size: 17px;
  font-family: Roboto, sans-serif;
  width: fit-content;
  color: white;
  border-radius: 6px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

.success {
  background-color: #33af56;
  opacity: 1;
}

.failure {
  background-color: #e05050;
  opacity: 1;
}
